---
global:
  resolve_timeout: 5m
templates:
  - /etc/alertmanager/telegram.tmpl
receivers:
  - name: 'null'
  - name: 'telegram'
    telegram_configs:
    - api_url: https://api.telegram.org
      send_resolved: true
      bot_token: {{ bot_token }}
      chat_id: {{ chat_id }}
      {% raw %}message:  '{{ template "telegram.message" .}}'
{% endraw %}
      parse_mode: 'HTML'
  - name: 'email'
    email_configs:
    - to: 'gen777@gmail.com'
      from: 'test@gmail.com'
      smarthost: smtp.gmail.com:587
      auth_username: 'test@gmail.com'
      auth_identity: 'test@gmail.com'
      auth_password: 'google-app-password'
      send_resolved: true
      {% raw %}message:  '{{ template "email.default.txt.message" .}}'
{% endraw %}
route:
  receiver: 'telegram'
  group_by:
    - severity
    - alertname
    - namespace
  group_wait: 1m
  group_interval: 2m  
  routes:
  - receiver: 'telegram'
    match:
      severity: ^(warning|critical)$
    repeat_interval: 24h
    continue: true

  - receiver: 'email'
    match:
      severity: ^(info)$
    repeat_interval: 24h
    continue: true

  - receiver: 'null'
    match:
      alertname: Watchdog
    repeat_interval: 24h
    continue: true
