{{ ansible_managed | comment }}

[Unit]
Description=Alertmanager Service
After=network.target

[Service]
EnvironmentFile=-/etc/default/alertmanager
User={{ alertmanager_system_user }}
Group={{ alertmanager_system_group }}
Type=simple
ExecStart={{ alertmanager_data_dir }}/alertmanager \
--config.file={{ alertmanager_config }} \
--storage.path={{ alertmanager_working_dir }} \
--cluster.advertise-address="{{ alertmanager_web_listen_address }}:{{ alertmanager_web_listen_port }}"\
$ALERTMANAGER_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
