---
global:
  resolve_timeout: 5m
templates:
  - /etc/alertmanager/telegram_new.tmpl
receivers:
  - name: 'null'
  - name: 'telegram'
    telegram_configs:
    - api_url: https://api.telegram.org
      send_resolved: true
      bot_token: {{ bot_token }}
      chat_id: {{ chat_id }}
      {% raw %}message:  '{{ template "telegram.message" .}}'
{% endraw %}
      parse_mode: 'HTML'
route:
  receiver: 'telegram'
  group_by:
    - severity
    - alertname
    - namespace
  routes:
  - receiver: 'telegram'
    match:
      severity: ^(none|warning|critical)$
    repeat_interval: 24h
    continue: true

  - receiver: 'null'
    match:
      alertname: Watchdog
    repeat_interval: 24h
    continue: true
