{{ define "telegram.message" }}
{{ range .Alerts }}
{{ $severity := .Labels.severity -}}
{{ $alertName := .Labels.alertname }}
{{ $dc := .Labels.datacenter }}
{{ $ns := .Labels.namespace }}
{{ $summary := .Annotations.summary }}
{{ $descr := .Annotations.description}}
{{ $runbook := .Annotations.runbook_url }}
{{ if eq .Status "firing" }}

🔥 <b>{{ $alertName }}</b>
{{ if eq $severity "critical" }}🤬 <b>Уровень:</b> Критический 
👉{{ if ne $descr "" }}ℹ <b>Описание:</b>{{ $descr }}{{ end }}
{{ if ne $dc "" }}🏠 ДЦ: <b>{{ $dc }}</b> {{ end }} / {{ if ne $ns "" }}👉NS: <b>{{ $ns }}</b> {{ end }}
{{ end }}

{{ else if eq $severity "warning" }}
😱 <b>Уровень:</b> Внимание
👉{{ if ne $descr "" }}ℹ <b>Описание:</b>{{ $descr }}{{ end }}
{{ if ne $dc "" }}🏠 ДЦ: <b>{{ $dc }}</b>{{ end }} / {{ if ne $ns "" }}👉 NS: <b>{{ $ns }}</b>{{ end }}

{{ else if eq $severity "info" }}
ℹ <b>Уровень:</b> Инфо
{{ if ne $dc "" }}🏠 ДЦ: <b>{{ $dc }}</b> {{ end }} / {{ if ne $ns "" }}👉 NS: <b>{{ $ns }}</b> {{ end }}
ℹ <b>Описание: </b>{{ $descr }}
{{ else }}

<b>Уровень: </b>? 🤪 {{ $severity }}
{{ end }}
{{ else }}

✅ <b>{{ $alertName }}</b> ✅
{{if eq $severity "critical"}}🤬 <b>Был уровень:</b> Критический
{{ if ne $dc "" }}🏠 ДЦ: <b>{{ $dc }}</b> {{ end }} / {{ if ne $ns "" }}👉NS: <b>{{ $ns }}</b> {{ end }}
ℹ <b>Описание:</b>{{ $descr }}

{{ else if eq $severity "warning" }}
😱<b>Был уровень:</b> Внимание
{{ if ne $dc "" }}🏠 ДЦ: <b>{{ $dc }}</b> 🏠{{ end }} / {{ if ne $ns "" }}👉 NS: <b>{{ $ns }}</b> 👈{{ end }}
ℹ <b>Описание:</b>{{ $descr }}
{{ else if eq $severity "info" }}
ℹ <b>Был уровень:</b> Инфо
{{- if ne $dc "" -}}🏠 ДЦ: <b>{{ $dc }}</b> {{- end -}} / 👉 <b>{{ $summary }}</b> 👈
<b>Описание:</b>{{ $descr }}
{{ else }}
<b>Был уровень:</b> НЕИЗВЕСТНО 🤪 {{ $severity }}
{{ end }}
{{ end }}
{{ end }}
